* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --header-height:3rem;
  --font-semi:600;
  --font-bold:700;
  --primary-color:#e55947;
  --primary-color-alt:#d2321e;
  --secondary-color:white;
  --dark-color:#101010;
  --dark-color-light:#606060;
  --gray-color:#f0f1f3;
  --body-font:'Poppins',sans-serif;
  --big-font-size:3rem;
  --h1-font-size:1.5rem;
  --h2-font-size:1.25rem;
  --primary-font-size:.938rem;
  --small-font-size: .75rem;
}

@media (min-width: 768px) {
  :root {
    --big-font-size:6rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --primary-font-size:1rem;
    --small-font-size: .813rem;
  }
}

:root {
  --mb-1:.5rem;
  --mb-2:1rem;
  --mb-3:1.5rem;
  --mb-4:2rem;
  --mb-5:2.5rem;
}

:root {
  --z-tooltip:10;
  --z-fixed:10;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--primary-font-size);
  color: var(--dark-color);
  line-height: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 3rem 0;
}

.section .section-title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
}

.section .section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.bg-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  font-size: var(--small-font-size);
  font-size: var(--font-semi);
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: var(--primary-color-alt);
}

.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__item {
  margin-bottom: var(--mb-4);
}

.nav .nav__item .nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi);
}

.nav .nav__item .nav__link:hover {
  color: var(--primary-color);
}

.nav .nav__logo {
  font-weight: var(--font-bold);
}

.nav .nav__cart {
  font-size: 1.5rem;
  margin-right: var(--mb-1);
}

.nav .nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav .show {
  right: 0;
}

.nav .active {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--secondary-color);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.home {
  background-color: var(--gray-color);
}

.home .home__container {
  height: calc(100vh - var(--header-height));
}

.home .home__container .home__data {
  padding-top: 6rem;
}

.home .home__container .home__data .home__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: .5rem;
  margin-bottom: 4rem;
}

.home .home__container .home__data .home__title span {
  font-size: var(--h1-font-size);
}

.home .home__container .home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.collection .collection__container {
  row-gap: 2rem;
}

.collection .collection__container .collection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  background-color: var(--gray-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.collection .collection__container .collection__box:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.collection .collection__container .collection__box .collection__img {
  width: 100px;
}

.collection .collection__container .collection__box .collection__title {
  font-size: var(--h1-font-size);
  line-height: 1.2;
  margin-bottom: var(--mb-2);
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.collection .collection__container .collection__box .collection__title .collection__subtitle {
  font-size: var(--h2-font-size);
  color: var(--dark-color-light);
}

.collection .collection__container .collection__box .collection__view {
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.collection .collection__container .collection__box .collection__view:hover {
  text-decoration: underline;
}

.featured .featured__containar {
  row-gap: 2rem;
}

.featured .featured__containar .featured__product {
  -webkit-transition: .3s;
  transition: .3s;
}

.featured .featured__containar .featured__product:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.featured .featured__containar .featured__product .featured__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--gray-color);
}

.featured .featured__containar .featured__product .featured__box .featured__new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: .3rem .75rem;
  font-size: var(--small-font-size);
}

.featured .featured__containar .featured__product .featured__data {
  text-align: center;
}

.featured .featured__containar .featured__product .featured__data .featured__name {
  margin-bottom: var(--mb-2);
  text-transform: uppercase;
  margin-top: var(--mb-1);
  font-size: var(--primary-font-size);
}

.featured .featured__containar .featured__product .featured__data .featured__preci {
  color: var(--dark-color);
  font-weight: var(--font-semi);
}

.offer .offer__bg {
  background: url("./../image/offer.jpg") no-repeat center/cover;
  text-align: center;
}

.offer .offer__data {
  padding: 3.5rem .25rem;
  background: rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
}

.offer .offer__data .offer__title {
  font-size: var(--h1-font-size);
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.offer .offer__data .offer__description {
  margin-bottom: var(--mb-2);
  letter-spacing: .2rem;
  margin-top: var(--mb-2);
}

.offer .offer__data .button {
  padding: 10px 25px;
}

.new .new__container {
  row-gap: 2rem;
}

.new .new__container .new__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--gray-color);
  overflow: hidden;
  margin: var(--mb-2) 0;
}

.new .new__container .new__box .new__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(229, 89, 71, 0.2);
  -webkit-transition: .5s;
  transition: .5s;
}

.new .new__container .new__box:hover .new__link {
  bottom: 0;
}

.newsletter {
  text-align: center;
}

.newsletter .newsletter__container .newsletter__description {
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.newsletter .newsletter__container .newsletter__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .5fr;
      grid-template-columns: 1fr .5fr;
}

.newsletter .newsletter__container .newsletter__form .newsletter__input {
  outline: none !important;
  border: none !important;
  background-color: var(--gray-color);
  padding: .5rem 1rem;
}

.newsletter .newsletter__container .newsletter__form .button {
  font-size: var(--small-font-size);
}

.sponsers .sponsers__container {
  -ms-grid-columns: repeat 2, 1fr;
      grid-template-columns: repeat 2, 1fr;
  row-gap: 2rem;
  padding: 1.5rem 0;
}

.sponsers .sponsers__container .sponsers__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsers .sponsers__container .sponsers__logo img {
  width: 80px;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

.sponsers .sponsers__container .sponsers__logo img:hover {
  -webkit-filter: none;
          filter: none;
}

.footer {
  background-color: var(--dark-color);
  color: var(--secondary-color);
}

.footer .footer__container {
  row-gap: 1.5rem;
  margin-bottom: var(--mb-4);
}

.footer .footer__container .footer__title {
  margin-bottom: var(--mb-1);
}

.footer .footer__container .footer__deal {
  margin-bottom: var(--mb-2);
}

.footer .footer__container .footer__store {
  width: 100px;
}

.footer .footer__container .footer__link {
  color: var(--dark-color-light);
}

.footer .footer__container .footer__link:hover {
  text-decoration: underline;
}

.footer .footer__container .footer__social i {
  color: var(--dark-color-light);
  font-size: 1.5rem;
  margin-right: var(--mb-1);
}

.footer .footer__copy {
  border-top: 1px solid var(--dark-color-light);
  padding-top: 3rem;
  text-align: center;
  color: var(--dark-color-light);
  font-size: var(--small-font-size);
}

@media (min-width: 768px) {
  body {
    margin: 0;
  }
  .section-all {
    margin-bottom: var(--mb-4);
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .nav .nav__menu {
    margin-left: auto;
  }
  .nav .nav__menu .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .nav__menu .nav__list .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav .nav__toggle {
    display: none;
  }
  .home .home__container {
    height: 100vh;
  }
  .home .home__container .home__data {
    padding: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home .home__container .home__data .home__title {
    line-height: .8;
    letter-spacing: 1.5rem;
  }
  .home .home__container .home__img {
    width: 370px;
  }
  .collection .collection__container {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    -ms-grid-rows: 1fr !important;
        grid-template-rows: 1fr !important;
  }
  .collection .collection__container .collection__box {
    padding: .5rem 3rem 0;
  }
  .collection .collection__container .collection__img {
    width: 130px;
  }
  .featured .featured__containar {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .sponsers__container, .footer__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .offer__data {
    padding: 5rem 0;
  }
  .new .new__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .newsletter__form {
    width: 400px;
    margin: 0 auto;
  }
  .footer__container {
    padding: 2rem 0;
  }
}

@media (min-width: 1024px) {
  .bg-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__data {
    padding-left: 7rem;
  }
  .home__img {
    right: 15% !important;
  }
}
/*# sourceMappingURL=style.css.map */